@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: #23273C;
}

.footer {
    border-radius: 10px;
    background: #343953;
    max-width: 1200px;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.footer .logo {
    font-size: 35px;
    color: #fff;
    font-weight: 900;
}

.footer-links {
    width: 50%;
}

.link-cols {
    display: flex;
    justify-content: space-between;
}

.footer-link-text,
.btn-link-f {
    display: block;
}

.footer-link-text {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.btn-link-f {
    margin-top: 20px;
    color: #9BA7E5;
    font-size: 16px;
    text-decoration: none;
}

.btn-footer {
    display: block;
    background-color: #2A2F46;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    color: #FFFFFF;
    transition: .3s;
}

.btn-footer:hover {
    box-shadow: 1px 3px 10px rgba(35, 39, 60, 0.15);
    transform: translateY(-5px);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.copyright-text {
    color: #9BA7E5;
    font-size: 16px;
}

.ex-link {
    color: #9BA7E5;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
}